/*Start Global Rules*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}

/*End Global Rules*/


/*Start Navbar*/

.header {
    background:linear-gradient(to bottom,rgba(218, 192, 192, 0.6),rgba(228, 210, 210, 0.2)), url(../images/header1.png) no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    min-height: 700px;
}

.header .navbar {
    background: rgba(241, 241, 241, 0.1);
    color: #4f4d6a
}

.header .navbar .logo {
    float:left;
    display:inline-block
}

.header .navbar .logo h2 {
    margin:20px;
}


.header .navbar .logo span {
    font-style: italic
}


.navbar .links {
    float:right;
    margin-top: 14px;
}

.navbar a {
    float:left;
    display: block;
    color: #4f4d6a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar .links .icon {
  display: none;
}

.header .content {
    width:650px;
    margin:80px auto 0;
    color: #4f4d6a;
    position:relative;
}


.header .content span {
    font-size:18px;
    font-style:italic
}

.header .content span:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 290px;
    height: 2px;
    background-color: #FFF;
}

.header .content span:after {
    content: '';
    position: absolute;
    top: 10px;
    right: 0;
    width: 290px;
    height: 2px;
    background-color: #FFF;
}

.header .content h1 {
    font-size:70px;
    margin: 15px 0 0;
}

.header .content p {
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 2;
    margin-top: 0px;
    border-bottom: 2px solid #fff;
    padding-bottom: 12px;
    font-weight: bold;
}

.header .content .buttons {
    margin-top:15px;
}

.header .content .buttons button:first-child{
    padding: 10px;
    background: #6a6886;
    border: 1px solid #6a6886;
    border-radius: 50px;
    width: 220px;
    margin-right: 15px;
    color: #FFF;
    font-size:18px;
    letter-spacing: 1px;
    cursor: pointer;
}

.header .content .buttons button:last-child{
    padding: 10px;
    background: rgba(189, 171, 183, 0.9);
    border: 1px solid #baa8b4;
    border-radius: 50px;
    width: 220px;
    margin-right: 15px;
    color: #FFF;
    font-size:18px;
    letter-spacing: 1px;
    cursor: pointer;
}

/*Start Our Work*/

.ourwork {
    background-color: #ebebeb;
    color: #4F4D6a;
    padding:50px 0;
    
}

.ourwork h2 {
    font-size:50px;
    margin: 5px 0 11px;
}

.ourwork span {
    font-size:18px;
    font-style:italic;
    position: relative;
    display:block
}

.ourwork span:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 520px;
    height: 2px;
    background-color: #FFF;
}

.ourwork span:after {
    content: '';
    position: absolute;
    top: 10px;
    right: 0;
    width: 520px;
    height: 2px;
    background-color: #FFF;
}

.ourwork .itemsbox {
    padding:50px 0 35px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff
}

.ourwork .itemsbox .item{
    width:24%;
    float:left;
    margin-right: 1%;
    position:relative;
    opacity:0;
    transform: translateX(20px);
    transition:all 0.3s ease-in-out;
}

.ourwork .itemsbox .item img {
    width: 71%;
    height: 175px;
    border-radius: 50%;
    object-fit: cover;
    border: 10px solid #efefef;
}

.ourwork .itemsbox .item img:first-child{
    object-fit: fill;
}

.ourwork .item h4 {
    font-style: italic;
    color:#4f4d6a
}

.ourwork .item p {
    color: #a4a3ae;
    font-size: 14px;
    line-height: 2
}

.ourwork .buttons {
    margin-top:30px;
    margin-bottom:30px;
}

.ourwork .buttons button:first-child{
    padding: 10px;
    background: #6a6886;
    border: 1px solid #6a6886;
    border-radius: 50px;
    width: 220px;
    margin-right: 15px;
    color: #FFF;
    font-size:18px;
    letter-spacing: 1px;
    cursor: pointer;
}

.ourwork .buttons button:last-child{
    padding: 10px;
    background: rgba(189, 171, 183, 0.9);
    border: 1px solid #baa8b4;
    border-radius: 50px;
    width: 220px;
    margin-right: 15px;
    color: #FFF;
    font-size:18px;
    letter-spacing: 1px;
    cursor: pointer;
    
}


.ourwork .itemsbox .is-showing {
    opacity:1;
    transform: translateX(0px);
}


/*End Our Work*/


/*Start About Us*/


/*End About Us*/

.about-us {
    padding:40px 0;
    background:#FFF;
    color: #4f4d6a;
}

.about-us h2 {
    margin-bottom: 10px;
}

.about-us .topic {
    width:32.3333%;
    float:left;
    margin-right:1%
}

.about-us .topic p {
    padding:6px;
    font-size:18px;
    line-height:1.2;
    letter-spacing: 1px
}

.about-us .topic button {
    background: #4f4d6a;
    border: 1px solid #4f4d6a;
    border-radius: 5px;
    padding: 7px;
    color: #FFF;
    width: 140px;
    cursor: pointer;
}



/*Start Footer*/

.footer {
    background-color: #505050;
    padding:30px 0;
    overflow:hidden;
}

.footer h2 {
    color:#FFF;
}

.footer p {
    color:#BBB;
    font-size:14px;
    line-height:1.5;
    letter-spacing: 1px
}

.footer .awesome {
    width:50%;
    float:left;
}

.footer .awesome span {
    color:#BBB;
    margin-top:20px;
    display:inline-block;
}

.footer .contact {
    width:30%;
    float:right;
}

/*End Footer*/

/*Start Media Query*/


@media (min-width: 320px) and (max-width: 490px) {
     .container {
        width:inherit;
    }
    
    .header {
        text-align: center;
    }
    
    .header .navbar .links a:not(:last-child) {
        display:none;
    }
    
    .header .navbar .links a:last-child {
        display:block;
    }
    
    .header .content {
        width:280px;
    }
    
    
    .header .content h1 {
        font-size:45px;
        margin-bottom:40px
    }
    
    .header .content p {
        display:none;
    }
    
    .header .content span:before,
    .header .content span:after {
        width:110px
    }
    
    .header .content .buttons button{
        margin-bottom:25px;
    }
    
       .ourwork .itemsbox .item {
        width:100%;
        margin-left: 4%;
        margin-bottom:20px
    }
    
    .ourwork span:before,
    .ourwork span:after {
        width:85px
    }
    
    .ourwork .itemsbox .item img {
        width: 80%;
        height: 200px;
    }
    
    .ourwork .buttons button {
        margin-bottom:15px;
    }
    
    
    .about-us h2 {
        text-align: center
    }
    
    .about-us .topic {
        width:100%;
        margin-bottom:10px;
        text-align: center
    }
    
    .footer {
        text-align: center;
    }
    
    .footer .awesome {
        width:100%
    }
    
    .footer .contact {
        width:100%
    }
}

@media (min-width: 491px) and (max-width: 767px) { /* Mobile & Tablets Rules */
    
    .container {
        width:inherit;
    }
    
    .header {
        text-align: center;
    }
    
    .header .content {
        width:450px;
    }
    
   
    
    .header .content h1 {
        font-size:45px
    }
    .header .content span:before,
    .header .content span:after {
        width:175px
    }
    
    .header .content .buttons button{
        margin-bottom:15px;
    }

    
     .header .navbar .links a:not(:last-child) {
        display:none;
    }
    
    .header .navbar .links a:last-child {
        display:block;
        margin-top:10px
    }
    
    .ourwork .itemsbox .item {
        width:70%;
        margin-left: 15%;
        margin-bottom:20px
    }
    
    .ourwork span:before,
    .ourwork span:after {
        width:180px
    }
    
    .ourwork .itemsbox .item img {
        width: 50%;
        height: 200px;
    }
    
    .ourwork .buttons button {
        margin-bottom:15px;
    }
    
    
    .about-us h2 {
        text-align: center
    }
    
    .about-us .topic {
        width:100%;
        margin-bottom:10px;
        text-align: center
    }
    
    .footer {
        text-align: center;
    }
    
    .footer .awesome {
        width:100%
    }
    
    .footer .contact {
        width:100%
    }
    
}


@media (min-width: 768px) and (max-width: 991px) { /* Small Screen Rules */
    .container {
        width:750px;
    }
    
    .ourwork .itemsbox .item {
        width:49%;
    }
    
    .ourwork .itemsbox .item img {
        width: 70%;
        height: 200px;
    }
    
    .ourwork span:before,
    .ourwork span:after {
        width:310px
    }
    
    .about-us .topic {
        width:49%;
        margin-bottom:10px;
    }
    
}

@media (min-width: 992px) and (max-width: 1199px) { /* Medium Screen Rules */
    .container {
        width:970px;
    }
    
    .ourwork span:before,
    .ourwork span:after {
        width:420px
    }
    
}

@media (min-width: 1200px) { /* Large Screen Rules */
    .container {
        width:1170px;
    }
    
    
}

/*End Media Query*/

/* Start My FramWork */ 

.container {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px
}

.clearfix {
    clear:both
}

.upper {
    text-transform: uppercase
}

.text-center {
    text-align: center;
}

/*End My FramWork*/